.feed-container {
  /* height: 100vh; */
  /* width: 100%; */
  position: relative;
}
.feed-title {
  margin: 1em 0 1em 4em;
  margin-top: 1em;
  width: 9em;
  color: black;
  position: relative;
}
.project-container {
  background-color: #c0e4ff;
}
.buttons {
  padding: 0.6em;
  margin-right: 0.5em;
}
#add-projects {
  padding: 0.5em;
  width: 10em;
}
.buttons:hover {
  background-color: #4056a1;
  color: white;
}
#add-projects:hover {
  background-color: #4056a1;
  color: white;
}

.profilecomp {
  border-style: solid;
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  width: 60em;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  padding: 3em;
  border-radius: 5px;
  height: 12em;
  background-color: #c0e4ff;

  /* background-color: yellow; */
}
.project-container {
  position: relative;
  height: 15em;
  padding: 4em;
  color: black;

  margin: 1.3em 0 0 5em;
  /* left: 20%; */
  border-style: solid;
  padding: 1em;
}
.project-component {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  width: 40em;
  padding: 1.4em;
}
.profile-projects {
  position: relative;
}
/* .personal-projects {
  position: relative;

  top: 20%;
  background: #e2d1c3;
} */
.profile-component-image {
  float: right;
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.nav-buttons {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5em;
}
.name-heading {
  margin-bottom: 1em;
  font-size: 1.4em;
  text-transform: capitalize;
}
.profile-component-github {
  text-decoration: none;
}
.spanText {
  font-size: 1.2em;
  color: #4056a1;
}
.ent-name {
  margin-bottom: 1em;
  color: black;
}
.project-component-github {
  text-decoration: none;
}

.setofimages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */
  width: 20em;
  height: fit-content;
  border-radius: 5px;
  border-style: solid;
  padding: 2em;
  margin-right: 1em;
  background-color: #c5cbe3;
}
.news {
  position: relative;
  border-style: solid;
  width: 15em;
  padding: 2em;
  /* margin-right: 100em; */
  line-height: 2em;
  margin-bottom: 0.5em;
}

.nav-buttons ul li {
  list-style: none;
}
.project-box {
  width: 30em;
  border-style: solid;
  height: fit-content;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
