.feed-container {
  /* height: 100vh; */
  /* width: 100%; */
  position: relative;
}
.feed-title {
  margin: 1em 0 1em 4em;
  margin-top: 1em;
  width: 9em;
  color: black;
  position: relative;
}
.project-container {
  background-color: #c0e4ff;
}
.buttons {
  padding: 0.6em;
  margin-right: 0.5em;
}
#add-projects {
  padding: 0.5em;
  width: 10em;
}
.buttons:hover {
  background-color: #4056a1;
  color: white;
}
#add-projects:hover {
  background-color: #4056a1;
  color: white;
}

.profilecomp {
  border-style: solid;
  position: relative;
  /* top: 15%; */
  left: 50%;
  transform: translate(-50%);
  width: 60em;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-top: 1em;
  padding: 3em;
  border-radius: 5px;
  height: 12em;
  background-color: rgb(248, 248, 248);

  /* background-color: yellow; */
}
.project-container {
  position: relative;
  height: 15em;
  padding: 4em;
  color: black;

  margin: 1.3em 0 0 5em;
  /* left: 20%; */
  border-style: solid;
  padding: 1em;
}
.project-component {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  width: 40em;
  padding: 1.4em;
  background-color: rgb(248, 248, 248);
}
.profile-projects {
  position: relative;
}
/* .personal-projects {
  position: relative;

  top: 20%;
  background: #e2d1c3;
} */
.profile-component-image {
  float: right;
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.nav-buttons {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5em;
}
.name-heading {
  margin-bottom: 1em;
  font-size: 1.4em;
  text-transform: capitalize;
}
.profile-component-github {
  text-decoration: none;
}
.spanText {
  font-size: 1.2em;
  color: #4056a1;
}
.ent-name {
  margin-bottom: 1em;
  color: black;
}
.project-component-github {
  text-decoration: none;
}

.setofimages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */
  width: 13em;
  height: fit-content;
  border-radius: 5px;
  border-style: solid;
  padding: 2em;
  margin-right: 1em;
  margin-top: 3em;
  background-color: rgb(248, 248, 248);
}
.news {
  position: relative;
  border-style: solid;
  width: fit-content;
  padding: 2em;
  /* margin-right: 100em; */
  line-height: 2em;
  margin-bottom: 0.5em;
  background-color: rgb(78, 76, 76);
  color: white;
}

.nav-buttons ul li {
  list-style: none;
}
.project-box {
  width: 30em;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.project-feed {
  margin-top: 3em;
}

/* feed post  */
.post-box {
  border-style: solid;
  margin-bottom: 1em;
  padding: 1em;
  background-color: rgb(248, 248, 248);
}
.post-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.line {
  width: 30em;
  height: 0.1em;
  background-color: black;
  margin: 1em;
}
.project-feed {
  /* border-style: solid; */
  margin-bottom: 1em;
}
.list-option {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-bottom: 1em;
  height: 2em;
}
.project-feeds {
  border-style: solid;
  margin-bottom: 1em;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
}
.select-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icons {
  margin: 5px;
}
.post-box {
  border-radius: 10px;
}
.ads {
  margin-bottom: 1.5em;
}
.event-container {
  border-style: solid;
  height: 20em;
  padding: 1em;
  width: 14em;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  background-color: rgb(248, 248, 248);
}
#feed-profile-container {
  height: 30em;
}
.event-box {
  border-bottom: 1px solid;
}
.event-h3 {
  margin-bottom: 0.5em;
}
#feed-profile-pic {
  align-self: center;
  border-radius: 50%;
}
.left-column {
  position: relative;
}
.right-column {
  margin-top: 5em;
}
.preloader {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.pagination {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  height: 3.5em;
  background-color: rgb(195, 192, 192);
  border-radius: 3px;
}
.pagelink {
  position: relative;
  text-decoration: none;
  border-style: solid;
  padding: 0.5em 1em 0.5em 1em;
  margin-left: 0.5em;
  background-color: white;
}
.pagelink:hover {
  background-color: #c0e4ff;
  opacity: 0.8;
}
.select-options:hover {
  opacity: 0.4;
}
.showmore:hover {
  opacity: 0.4;
}
