:root {
  --BlueFin: #2a9df4;
}
.app {
  overflow-y: hidden;
  overflow-x: hidden;
}
/* BACKGROUND */
.landing-section {
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #abbaab,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #abbaab, #ffffff);
}
body {
  height: 100vh;
  background-image: linear-gradient(
    76.3deg,
    rgba(44, 62, 78, 1) 12.6%,
    rgba(69, 103, 131, 1) 82.8%
  );
}
.projects-container {
  background: #abbaab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #abbaab,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #abbaab, #ffffff);
}
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

/* STYLING FOR LANDING PAGE*/
.landing-input {
  border-style: solid;
  border-color: blue;
  width: 25em;
  height: 3em;
  padding: 0.2em 0.2em 0.2em 1.5em;
  margin: 1em;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  color: #4056a1;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.3em;
}

#landing-image {
  border-radius: 18px;
}

.title {
  font-size: 2em;
  font-weight: 300;
}

.title-container {
  margin-bottom: 1.3em;
  word-spacing: 0.2em;
}

.signinField {
  border-radius: solid;
  margin-top: 1em;
}
.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30em;
}
.signinButton {
  width: 15em;
  border-radius: 2px;
  padding: 0.5em;
  margin-top: 1em;
}
.topText {
  margin-bottom: 0.5em;
}
.signinButton:hover {
  background-color: #2a9df4;
  transform: scale(1.2);
  transition: ease-in-out 200ms;
  color: white;
}
.project-component-github {
  color: black;
}

/* PROFILE SECTION*/

/* BACKGROUND */
.landing-section {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
body {
  height: 100vh;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.projects-container {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

/* STYLING FOR LANDING PAGE*/
.landing-input {
  border-style: solid;
  border-color: blue;
  width: 25em;
  height: 3em;
  padding: 0.2em 0.2em 0.2em 1.5em;
  margin: 1em;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  color: #4056a1;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.3em;
}

#landing-image {
  border-radius: 18px;
}

.title {
  font-size: 2em;
  font-weight: 300;
}

.title-container {
  margin-bottom: 1.3em;
  word-spacing: 0.2em;
}

/* kw sign in style*/
.signinContainer {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.signinField {
  border-radius: solid;
  margin-top: 1em;
}
.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30em;
}
.signinButton {
  width: 15em;
  border-radius: 2px;
  padding: 0.5em;
  margin-top: 1em;
}
.topText {
  margin-bottom: 0.5em;
}
.signinButton:hover {
  background-color: #2a9df4;
  transform: scale(1.2);
  transition: ease-in-out 200ms;
  color: white;
}
